{% extends 'base.html.jinja' %}

{% block title %}
Your Tasks
{% endblock %}

{% block scripts %}
<script type="module">
    import { TaskList } from '{{ url_for("static", filename="tasks.js") }}'

    customElements.define('task-list', TaskList);
</script>
{% endblock %}

{% block nav %}
<ul class="navbar-nav">
    {{ nav_item('History', url_for('tasks.history')) }}
</ul>

<ul class="navbar-nav ms-auto">
    {{ nav_item('Logout', url_for('auth.logout')) }}
</ul>
{% endblock %}

{% from 'icons.html.jinja' import icon %}

{% block main %}
<section class="mx-auto col-md-8">
    <header>
        <h1>Your Tasks</h1>
    </header>

    {% include "noscript.html.jinja" %}

    <task-list></task-list>
</section>
{% endblock %}

{% block bottom %}
{% include 'tasks/task-list.html.jinja' %}
{% include 'tasks/task-item.html.jinja' %}
{% include 'tasks/edit-task-modal.html.jinja' %}
{% include 'tasks/delete-task-modal.html.jinja' %}
{% endblock %}