<template id="task-list">
    <form>
        <div class="input-group my-3">
            <input type="text" name="description" id="description" class="form-control"
                placeholder="What do you want to do?" aria-label="What do you want to do?">
            <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center"
                aria-label="Add task">
                {{ icon('plus-lg', classes=['flex-shrink-0'])}}
            </button>
        </div>
    </form>

    <hr class="my-4">

    <div id="spinner" class="d-flex justify-content-center">
        <div class="spinner-border text-primary my-3" role="status">
            <span class="visually-hidden">Loading tasks...</span>
        </div>
    </div>

    <div id="no-tasks" class="d-none">
        <p class="text-center">
            You have nothing to do! Add a task using the above form.
        </p>
    </div>

    <ul id="tasks-list" class="list-group d-none"></ul>

    <div id="error-alert" class="alert alert-danger d-flex align-items-center d-none" role="alert">
        {{ icon('exclamation-circle-fill', classes=['flex-shrink-0', 'me-2']) }}
        Sorry, something went wrong. Please refresh the page and try again.
    </div>
</template>