<div id="error-alert" class="alert alert-danger d-flex align-items-center d-none" role="alert">
    {{ icon('exclamation-circle-fill', classes=['flex-shrink-0', 'me-2']) }}
    Sorry, something went wrong. Please refresh the page and try again.
</div>