<noscript>
    <div id="error-alert" class="alert alert-danger d-flex align-items-center" role="alert">
        {{ icon('exclamation-circle-fill', classes=['flex-shrink-0', 'me-2']) }}
        This page requires requires JavaScript. Please enable JavaScript in your browser and refresh the page.
    </div>
</noscript>